@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import "compass/css3";

.section {
	background: #84CEEB; 
background: -webkit-linear-gradient(to right, #84CEEB, #5AB9EA, #8860D0);
background: linear-gradient(to right, #84CEEB, #5AB9EA, #8860D0); 
color: #C1C8E4;
font-family: Raleway;
}
.sec2 {
	background: #ffe259;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.timetable-vol {
	background: #360033;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: black;
}
.center,.center-align {
	text-align: center;
}
.sec1 h1 {
	font-size: 8rem;
}
.responsive-table {

	max-width: 90vw;
}
.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.responsive-table .table-header {
  background-color: #95A5A6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
  flex-basis: 10%;
}
.responsive-table .col-2 {
  flex-basis: 40%;
}
.responsive-table .col-3 {
  flex-basis: 25%;
}
.responsive-table .col-4 {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}
@media only screen and (max-width: 700px) {
  .desktop {
		display: none !important;
  }
}
@media only screen and (min-width: 700px) {
	.mobile {
		display: none !important;
	}
}
.arrowDown {
	font-size: 20rem;
	color: white;
	width: 100vw;
	text-align: center;
}
.section-head {
	font-size: 6rem;
	margin-left: 30px;
}
